---
---

@import "{{ site.theme }}";

/* убрать шапку */
#header_wrap {
  display: none;
}

/* убрать footer */
#footer_wrap {
  display: none;
}

/* контент — на всю ширину без верхнего отступа */
.main-content {
  margin-top: 2rem;
}
